@import "tailwindcss";
@source inline("w-{{1..50}}");
@source inline("h-{{1..50}}");

@layer base {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  button:not([disabled]), a[href] {
      cursor: pointer;
  }
}
