@import "tailwindcss";
@source inline("w-{{1..50}}");
@source inline("h-{{1..50}}");
@source inline("{{text,bg,border,ring}}-{{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}}-{{50,200,300,500,600,700,800,900}}");

@theme {
  --color-primary-lightest: theme(--color-purple-50);
  --color-primary-lighter: theme(--color-purple-200);
  --color-primary-light: theme(--color-purple-300);
  --color-primary: theme(--color-purple-500);
  --color-primary-dark: theme(--color-purple-600);
  --color-primary-darker: theme(--color-purple-700);
  --color-primary-darkest: theme(--color-purple-800);
}

@layer base {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  button:not([disabled]), a[href] {
      cursor: pointer;
  }
}
